<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="Store.Up.PlotAnalysis" author="Store.Up.PlotAnalysis" url="www.supermap.com.cn" description="Store.Up.PlotAnalysis Plugin" helpLocalRoot="" helpOnlineRoot="">
  <runtime assemblyName="./Plugins/Store.Up.PlotAnalysis/Store.Up.PlotAnalysis.dll" className="Store.Up.PlotAnalysis.DesktopPlugin" loadOrder="2000" enabled="True" />
  <!--Ribbon上自定义各种控件-->
  <toolbox>
    <ribbon>
      <tabs>
        <tab index="23" id="" label="地块分析" formClass="" visible="true">
          <group index="1" id="" label="统计分析" image="../Resources/Group/Icon/View/View.png" visible="true" customProperty="">
            <button index="0" label="概况分析" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionSpatialIndex" size="Large" image="Resource\ReserveDatabaseManagement\images\liuchengchaxun.png" style="ImageAndText" shortcutKey="" screenTip="打开空间索引管理对话框，对数据集的空间索引进行查看、创建和修改。" screenTipImage="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" customProperty="" description="" />
            <button index="0" label="按状态分析" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionSpatialIndex" size="Large" image="Resource\ReserveDatabaseManagement\images\zhuangtai.png" style="ImageAndText" shortcutKey="" screenTip="打开空间索引管理对话框，对数据集的空间索引进行查看、创建和修改。" screenTipImage="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" customProperty="" description="" />
            <button index="0" label="按时间分析" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionSpatialIndex" size="Large" image="Resource\ReserveDatabaseManagement\images\shijian.png" style="ImageAndText" shortcutKey="" screenTip="打开空间索引管理对话框，对数据集的空间索引进行查看、创建和修改。" screenTipImage="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" customProperty="" description="" />
            <button index="0" label="自定义分析" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionSpatialIndex" size="Large" image="Resource\ReserveDatabaseManagement\images\chaxun_2.png" style="ImageAndText" shortcutKey="" screenTip="打开空间索引管理对话框，对数据集的空间索引进行查看、创建和修改。" screenTipImage="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" customProperty="" description="" />
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <processes />
</plugin>