<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="Start" author="Start" url="www.supermap.com.cn" description="Start Plugin" helpLocalRoot="" helpOnlineRoot="">
  <runtime assemblyName="./Plugins/Store.Up.Start/Store.Up.Start.dll" className="Store.Up.Start.DesktopPlugin" loadOrder="2000" enabled="True" />
  <!--Ribbon上自定义各种控件-->
  <toolbox>
    <ribbon>
      <tabs>
        <tab index="18" id="TabStart2" label="我的" formClass="" visible="true">
          <group index="0" id="GroupContentDataRes" label="常规" image="" visible="true" customProperty="">
            <button index="0" label="新建" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionNewDatasetRegion" size="Large" image="Resource\ReserveDatabaseManagement\images\xinzeng_1.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="1" label="导入" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/Conversion/SuperMap.Desktop.Conversion.dll" onAction="SuperMap.Desktop._CtrlActionImportContextMenu" size="Large" image="Resource\ReserveDatabaseManagement\images\daoru.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="2" label="导出" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/Conversion/SuperMap.Desktop.Conversion.dll" onAction="SuperMap.Desktop._CtrlActionExport" size="Large" image="Resource\ReserveDatabaseManagement\images\daochu.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="3" label="删除" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionDelectDatasets" size="Large" image="Resource\ReserveDatabaseManagement\images\iconset.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="4" label="保存" visible="true" beginGroup="false" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataStandard.dll" onAction="SmApp.Plugin.DataStandard.Commands.ActionCreateDirectory" size="Large" image="Resource\ReserveDatabaseManagement\images\daoru_2.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
          </group>
          <group index="1" id="DatasetNew" label="工具" image="../Resources/Group/Icon/Start/DatasetNew.PNG" visible="true" customProperty="">
            <gallery index="0" id="DatasetNew" label="" visible="true" style="ImageAndText" galleryItemWidth="120" galleryMaxColumns="4" size="Large" beginGroup="false" assemblyName="" onAction="" itemsTextAlignment="" imagePosition="top" screenTip="" screenTipImage="" helpURL="" customProperty="">
              <galleryItems index="0" id="DatasetType" label="拓扑工具" visible="true">
                <buttonGallery index="0" label="空间裁剪" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionImporDataset" size="Large" image="Resource\ReserveDatabaseManagement\images\wulumuqishigongandashujuguanlipingtai-ico-.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="1" label="空间合并" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionDeleteDataset" size="Large" image="Resource\ReserveDatabaseManagement\images\-duibi.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="2" label="空间擦除" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionBrowseDatasetTabular" size="Large" image="Resource\ReserveDatabaseManagement\images\btn_drawclear.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="3" label="空间求同" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionAttributeAddColumn" size="Large" image="Resource\ReserveDatabaseManagement\images\jiedianjiaoji.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="4" label="空间求异" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionFieldManager" size="Large" image="Resource\ReserveDatabaseManagement\images\iconfront-.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
              </galleryItems>
              <galleryItems index="0" id="DatasetType3D" label="空间提取" visible="true">
                <buttonGallery index="0" label="矩形区域" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataProcess.dll" onAction="SmApp.Plugin.DataProcess.Commands.DataExport.ActionExpVecDataByRectangle" size="Small" image="Plugins\DataManager\Resources\DataProcess\Rectangle.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="1" label="圆形区域" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataProcess.dll" onAction="SmApp.Plugin.DataProcess.Commands.DataExport.ActionExpVecDataByCircle" size="Small" image="Plugins\DataManager\Resources\DataProcess\Cirle.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="2" label="多边形区域" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataProcess.dll" onAction="SmApp.Plugin.DataProcess.Commands.DataExport.ActionExpVecDataByPolygon" size="Small" image="Plugins\DataManager\Resources\DataProcess\Polygon.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="3" label="指定对象区域" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataProcess.dll" onAction="SmApp.Plugin.DataProcess.Commands.DataExport.ActionExpVecDataBySelectRgn" size="Small" image="Plugins\DataManager\Resources\DataProcess\SelectRgn.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
              </galleryItems>
              <galleryItems index="0" id="DatasetTypeImage" label="属性提取" visible="true">
                <buttonGallery index="0" label="多区域边形" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.Map.ActionClipMapByPolygon" size="Small" image="Plugins\DataManager\Resources\DataProcess\Polygon.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
                <buttonGallery index="1" label="指定对象区域" visible="true" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.Map.ActionClipMapBySelectRgn" size="Small" image="Plugins\DataManager\Resources\DataProcess\SelectRgn.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" />
              </galleryItems>
            </gallery>
            <separator index="3" label="" customProperty="" />
          </group>
          <group index="3" id="DataSetManager" label="数据查询" image="" visible="true" customProperty="">
            <buttonDropdown index="0" id="DropImportMap" label="属性查询" visible="true" beginGroup="false" checkState="false" autoChangeAction="false" assemblyName="" onAction="" size="Large" image="Resource\ReserveDatabaseManagement\images\chaxun.png" dropDownStyle="DropDownList" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="">
              <subItems>
                <button index="0" label="按入库时间" visible="true" beginGroup="false" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionImporDataset" size="normal" image="Resource\ReserveDatabaseManagement\images\shijian-s.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
                <button index="4" label="按数据状态" visible="true" beginGroup="false" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionDeleteDataset" size="normal" image="Resource\ReserveDatabaseManagement\images\zhuangtai-s.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
                <button index="5" label="按数据类型" visible="true" beginGroup="false" checkState="false" assemblyName="Plugins\DataManager\SmApp.Plugin.DataResource.dll" onAction="SmApp.Plugin.DataResource.Commands.DataSet.ActionBrowseDatasetTabular" size="normal" image="Resource\ReserveDatabaseManagement\images\chuangjianmulu-s.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
              </subItems>
            </buttonDropdown>
             <button index="1" label="空间查询" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataView/SuperMap.Desktop.DataView.dll" onAction="SuperMap.Desktop._CtrlActionSpatialQuery" size="Large" image="Resource\ReserveDatabaseManagement\images\ditu.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />  
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <!--自定义浮动窗口-->
  <dockbar>
    <bar label="DockBar" dockstate="Floating" docksite="left" visible="true" floatingLocation="236,188" size="250,459" control="Start.MyControl" assemblyName="Plugins\Start\Start.dll" autoHide="false" helpURL="" />
  </dockbar>
  <statusbars />
  <!--自定义右键菜单-->
  <contextMenus>
    <contextMenu menuStrip="Start.MyControl.myContextMenu" index="3" label="myContextMenu">
      <group index="0" id="ContextMenuGroup" label="" visible="true">
        <button index="0" label="ContextMenuButton" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
        <buttonDropdown index="1" id="ContextMenuDropDown" label="ContextMenuDropDown" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="">
          <subItems>
            <group index="0" id="ContextMenuGroup" label="" visible="true">
              <button index="0" label="ContextMenuButton1" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
              <button index="1" label="ContextMenuButton2" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
            </group>
          </subItems>
        </buttonDropdown>
      </group>
    </contextMenu>
  </contextMenus>
  <processes />
</plugin>