<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="Store.Up.ReserveDataManagement" author="Store.Up.ReserveDataManagement" url="www.supermap.com.cn" description="Store.Up.ReserveDataManagement Plugin" helpLocalRoot="" helpOnlineRoot="">
  <runtime assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" className="Store.Up.ReserveDataManagement.DesktopPlugin" loadOrder="2000" enabled="True" />
  <!--Ribbon上自定义各种控件-->
  <toolbox>
    <ribbon>
      <tabs>
        <tab index="21" id="Store.Up.ReserveDataManagementTab" label="收储数据管理" formClass="" visible="">
          <group index="0" id="Store.Up.ReserveDataManagement" label="地块管理" layoutStyle="vertical" visible="">
            <button index="1" label="导入" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/Conversion/SuperMap.Desktop.Conversion.dll" onAction="SuperMap.Desktop._CtrlActionImportContextMenu" size="Large" image="Resource\ReserveDatabaseManagement\images\daoru.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="2" label="导出" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/Conversion/SuperMap.Desktop.Conversion.dll" onAction="SuperMap.Desktop._CtrlActionExportContextMenu" size="Large" image="Resource\ReserveDatabaseManagement\images\daochu.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="4" label="新增" visible="true" beginGroup="false" checkState="false" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionNewDatasetRegion" size="Large" image="Resource\ReserveDatabaseManagement\images\xinzeng_1.png" style="ImageAndText" shortcutKey="" screenTip="" screenTipImage="" helpURL="" customProperty="" description="" />
            <button index="3" label="删除" visible="" checkState="" assemblyName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" onAction="SuperMap.Desktop._CtrlActionDelectDatasets" style="" image="Resource/ReserveDatabaseManagement/images/shanchu_1.png" size="large" screenTip="" helpURL="./Plugins/Store.Up.ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
          </group>
          <group index="1" label="地块属性管理" id="ReservePraporty" visible="true" image="">
            <button index="3" label="属性挂接" visible="" checkState="" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="" image="Resource/ReserveDatabaseManagement/images/tupiantihuan.png" size="large" screenTip="" helpURL="./Plugins/Store.Up.ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
            <button index="4" label="字段管理" visible="" checkState="" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="" image="Resource/ReserveDatabaseManagement/images/leixing.png" size="large" screenTip="" helpURL="./Plugins/Store.Up.ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
          </group>
          <group index="2" label="地块更新" id="ReserveUpdate" visible="true" image="">
            <button index="1" label="对比更新" visible="" checkState="" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="" image="Resource/ReserveDatabaseManagement/images/duibi.png" size="large" screenTip="" helpURL="./Plugins/Store.Up.ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
            <button index="2" label="追加更新" visible="" checkState="" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="" image="Resource/ReserveDatabaseManagement/images/shujuchaxun.png" size="large" screenTip="" helpURL="./Plugins/Store.Up.ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
            <button index="3" label="融合更新" visible="" checkState="" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="" image="Resource/ReserveDatabaseManagement/images/tubiaozhizuomoban.png" size="large" screenTip="" helpURL="./Plugins/Store.Up.ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <!--自定义浮动窗口-->
  <dockbar>
    <bar label="DockBar" dockstate="Floating" docksite="left" visible="true" floatingLocation="236,188" size="250,459" control="Store.Up.ReserveDataManagement.MyControl" assemblyName="Plugins\Store.Up.ReserveDataManagement\Store.Up.ReserveDataManagement.dll" autoHide="false" helpURL="" />
  </dockbar>
  <statusbars />
  <!--自定义右键菜单-->
  <contextMenus>
    <contextMenu menuStrip="Store.Up.ReserveDataManagement.MyControl.myContextMenu" index="3" label="myContextMenu">
      <group index="0" id="ContextMenuGroup" label="" visible="true">
        <button index="0" label="ContextMenuButton" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
        <buttonDropdown index="1" id="ContextMenuDropDown" label="ContextMenuDropDown" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="">
          <subItems>
            <group index="0" id="ContextMenuGroup" label="" visible="true">
              <button index="0" label="ContextMenuButton1" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
              <button index="1" label="ContextMenuButton2" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.ReserveDataManagement/Store.Up.ReserveDataManagement.dll" onAction="Store.Up.ReserveDataManagement.MyCtrlAction" style="imageandtext" image="" size="normal" screenTip="" />
            </group>
          </subItems>
        </buttonDropdown>
      </group>
    </contextMenu>
  </contextMenus>
  <processes />
</plugin>