<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="Store.Up.AttributeDataManagement" author="Store.Up.AttributeDataManagement" url="www.supermap.com.cn" description="Store.Up.AttributeDataManagement Plugin" helpLocalRoot="" helpOnlineRoot="">
  <runtime assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" className="Store.Up.AttributeDataManagement.DesktopPlugin" loadOrder="2000" enabled="True" />
  <!--Ribbon上自定义各种控件-->
  <toolbox>
    <ribbon>
      <tabs>
        <tab index="22" id="Store.Up.AttributeDataManagementTab" label="属性数据管理" formClass="" visible="">
          <group index="0" id="Store.Up.AttributeDataManagement" label="属性管理" layoutStyle="vertical" visible="">
            <button index="1" id="ButtonDropDown" label="属性导入" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/daoru.png" size="large" screenTip=""/>
            <button index="2" id="ButtonDropDown" label="属性导出" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttributeExport" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/daochu.png" size="large" screenTip=""/>
            <button index="3" label="属性挂接" visible="" checkState="" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttributeHook" style="" image="Resource/ReserveDatabaseManagement/images/new-page.png" size="large" screenTip="" helpURL="./Plugins/ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
            <button index="4" label="字段管理" visible="" checkState="" assemblyName="./Plugins/ReserveDataManagement/ReserveDataManagement.dll" onAction="ReserveDataManagement.AttrImpCtrlAction" style="" image="Resource/ReserveDatabaseManagement/images/new-page.png" size="large" screenTip="" helpURL="./Plugins/ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
            <button index="5" label="属性表" visible="" checkState="" assemblyName="./Plugins/TabularView/SuperMap.Desktop.TabularView.dll" onAction="SuperMap.Desktop._CtrlActionDatasetTabularBrowser"  style="" image="Resource/ReserveDatabaseManagement/images/new-page.png" size="large" screenTip="" helpURL="./Plugins/ReserveDataManagement/Helps/ShowMessage.htm" screenTipImage="" shortcutKey="" />
          </group>
          <group index="1" label="属性更新" id="RibbonGroup" visible="true" image="">
            <gallery index="0" visible="true" id="Gallery" galleryItemWidth="125" galleryMaxColumns="4" style="imageandtext" imagePosition="top">
              <galleryItems index="0" id="GalleryGroup" label="GalleryGroup" visible="true">
                <buttonGallery index="0" label="替换更新" visible="true" checkState="false" size="Small" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" image="Resource/ReserveDatabaseManagement/images/tupiantihuan.png" screenTip="" />
                <buttonGallery index="1" label="对比更新" visible="true" checkState="false" size="Small" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" image="Resource/ReserveDatabaseManagement/images/duibibitiaoxingtu.png" screenTip="" />
                <buttonGallery index="2" label="追加更新" visible="true" checkState="false" size="Small" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" image="Resource/ReserveDatabaseManagement/images/dr.png" screenTip="" />
              </galleryItems>
            </gallery>
          </group>
          <group index="2" label="属性查询" id="RibbonGroup" visible="true" image="">
            <checkBox index="0" label="地块类型" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.AttrImpCtrlActionCheckBox" width="" screenTip="" />
            <checkBox index="1" label="地块状态" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.AttrImpCtrlActionCheckBox" width="" screenTip="" />
            <checkBox index="2" label="入库时间" visible="true" checkState="false" assemblyName="./Plugins/ReserveDatabaseManagement/Start/Start.dll" onAction="Start.AttrImpCtrlActionCheckBox" width="" screenTip="" />
            <button index="4" label="SQL查询" visible="true" checkState="false"  assemblyName="./Plugins/DataView/SuperMap.Desktop.DataView.dll" onAction="SuperMap.Desktop._CtrlActionSQLQuery" size="Default" image="..\Resources\DataView\Icon\Query\SQLQuery.png" style="ImageAndText" screenTip="" />
            <buttonDropdown index="5" id="ButtonDropDown" label="空间查询" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/ditu.png" size="large" screenTip="">
              <subItems>
                <button index="0" label="点选查询" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/dianxuan.png" size="normal" screenTip="" />
                <button index="1" label="框选查询" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/jurassic_choose-mjbj.png" size="normal" screenTip="" />
                <button index="3" label="圆选查询" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/iconset0493.png" size="normal" screenTip="" />
                <button index="4" label="多边形查询" visible="true" checkState="false" assemblyName="./Plugins/Store.Up.AttributeDataManagement/Store.Up.AttributeDataManagement.dll" onAction="Store.Up.AttributeDataManagement.AttrImpCtrlAction" style="imageandtext" image="Resource/ReserveDatabaseManagement/images/duobianxingxuanze.png" size="normal" screenTip="" />
              </subItems>
            </buttonDropdown>
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>
  <statusbars />
  <processes />
</plugin>